# --- Data Files ---
# Ignore large data files 
*.csv 
*.duckdb 
*.xml 

# Exception: Explicitly track the whitelist file 
!MMbf_whitelist.csv 

# --- Python & Environment ---
# Ignore Python bytecode 
__pycache__/ 

# Ignore virtual environments
venv/

# --- Project Specifics ---
# Ignore specific test file 
test.py 

# Ignore the archive folder 
archive/